* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', 'sans-serif';
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}
/* ------------------------------------------ */
/* REUASABLE COMPONENTS */
/* ------------------------------------------ */

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0 0 0;
}

img {
	width: 100%;
}

/* ------- HEADINGS ------ */

h1, h2, h3 {
	margin: 0;
	font-weight: 300;
	letter-spacing: 1px;
}

h2, h3 {
	text-transform: uppercase;
}

h1 {
	color: #fff;
	font-size: 250%;
	word-spacing: 4px;
}

h2 {
	font-size: 200%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #3498db;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
	text-align: center;
}

/* ------- PARAGRAPHS ------ */

p {
	font-size: 90%;
	line-height: 145%;
}

/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;

}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	float: left;
	margin-top: 40px;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 40px;

}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited,
.logo:link, 
.logo:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active,
.logo:hover,
.logo:active {
	border-bottom: 2px solid #3498db;
}

/* ------------------------------------------ */
/* PROJECTS */
/* ------------------------------------------ */

.section-projects i {
	font-size: 3em;
}
.project-row {
	margin-bottom: 30px;
}

.project-row:last-child {
	margin-bottom: 0;
}

.project-row div {
	padding: 0 2%;
}

.project-row p {
	margin-bottom: 20px;
}

.project-link {
	text-align: center;
}

.project-link a:link,
.project-link a:visited {
	transition: all 0.2s;
	color: inherit;
	text-decoration: none;
}

.project-link a:hover,
.project-link a:active {
	color: #3498db;
}
/* ------------------------------------------ */
/* ABOUT SECTION */
/* ------------------------------------------ */

.about-section img {
	border-radius: 50%;
	height: 250px;
	width: 250px;
	float: right;
}

.about-section p {
	width: 70%;
	float: left;
}


/* ------------------------------------------ */
/* FOOTER */
/* ------------------------------------------ */

footer {
	background-color: #333333;
	color: rgba(255, 255, 255, 0.8);
	margin-top: 50px;
	padding: 20px 0;
}

.icons {
	text-align: center;
}

.icons a:link,
.icons a:visited {
	color: rgba(255, 255, 255, 0.8)
}

.icons a:hover,
.icons a:active {
	color: #3498db;
}

.icons a {
	padding: 10px;
}